Django==5.2.7
python-decouple>=3.8
Pillow>=10.0
celery>=5.3.0
django-celery-beat>=2.5.0
django-celery-results>=2.5.0
redis>=5.0.0
django-redis>=5.4.0

# Production deployment dependencies
gunicorn>=21.2.0
uvicorn==0.40.0
whitenoise>=6.6.0
setuptools>=75.0.0
wheel>=0.44.0
psycopg==3.2.13
psycopg-binary==3.2.13
dj-database-url==2.1.0
python-json-logger>=2.0.0

# Testing dependencies
pytest>=7.4.0
pytest-django>=4.5.0
factory-boy>=3.3.0

razorpay>=1.0.0
